<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head('Đăng Nhập')">
</head>
<body>
<div th:replace="/layout :: navbar">
</div>
<div th:if="${#request.getParameter('error') == 'true'}"
     style="color:red;margin:10px 0px;">
    Login Failed!!!<br />
</div>

<h3>Đăng nhập tài khoản:</h3>
<form name='f' th:action="@{/check_login}" method='POST'>
    <table>
        <tr>
            <td>Tên Đăng Nhập:</td>
            <td><input type='text' name='username' value=''></td>
        </tr>
        <tr>
            <td>Mật Khẩu:</td>
            <td><input type='password' name='password' /></td>
        </tr>
        <tr>
            <td>Lưu tài khoản?</td>
            <td><input type="checkbox" name="remember-me" /></td>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="Đăng nhập" /></td>
        </tr>
    </table>
</form>
</body>
</html>