<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head('Đăng Nhập')">
</head>
<body>
<div th:replace="/layout :: navbar">
</div>
<div th:if="${#request.getParameter('error') == 'true'}"
     style="color:red;margin:10px 0px;">
    Sai tài khoản hoặc mật khẩu!!!<br />
</div>


<form name='f' th:action="@{/check_login}" method="Post" style="margin-right: 40%;margin-left: 35%;margin-top: 5%">
    <h3>Đăng nhập tài khoản:</h3>
    <div class="form-group">
        <label>Tên Đăng Nhập</label>
        <input type="text" class="form-control" placeholder="User Name..." name="username" >
    </div>
    <div class="form-group">
        <label>Mật Khẩu</label>
        <input type="password" class="form-control" placeholder="Your Password.." name="password">
    </div>
    <div class="form-group">
        <label>Lưu tài khoản?</label>
        <input type="checkbox" name="remember-me" />
    </div>
    <div class="form-group">
        <input type="submit" class="btnSubmit" value="Đăng Nhập" />
    </div>
</form>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>