<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!--author:starttemplate-->
<!--reference site : starttemplate.com-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords"
          content="unique login form,leamug login form,boostrap login form,responsive login form,free css html login form,download login form">
    <meta name="author" content="leamug">
    <title>Unique Login Form | Bootstrap Templates</title>
    <link href="css/login.css" rel="stylesheet" id="style">
    <!-- Bootstrap core Library -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <!-- Font Awesome-->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-4 text-center">
            <h1 class='text-white'>Đăng Nhập</h1>
            <div th:if="${#request.getParameter('error') == 'true'}"
                 style="color:#ffef76;margin:10px 0px;font-size:30px">
                Sai tài khoản hoặc mật khẩu!!!<br />
            </div>
            <div class="form-login"></br>
                <h2>Tài Khoản</h2>
                </br>
                <form name='f' action="/check_login" method="post">
                    <input type="text" name="username" class="form-control input-sm chat-input"
                           placeholder="Tên đăng nhập.."/>
                    </br></br>
                    <input type="password" name="password" class="form-control input-sm chat-input"
                           placeholder="Mật khẩu.."/>
                    </br></br>
                    <div class="form-group">
                        <label style="font-size: 20px">Lưu tài khoản?</label>
                        <input type="checkbox" name="remember-me"/>
                    </div>
                    <div class="wrapper">
                        <span class="group-btn">
                            <input type="submit" class="btn btn-danger btn-md" style="font-size: 20px">
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </br></br></br>
    <!--footer-->
    <div class="footer text-white text-center">
        <p>© 2021 Furama Resort</p>
    </div>
    <!--//footer-->
</div>
</body>
</html>
