<!--<app-countdown-time [seconds]="6">-->
<!--</app-countdown-time>-->

<!--<app-countdown-time-get-set seconds="abc">-->
<!--</app-countdown-time-get-set>-->

<!--<app-countdown-time-onchanges seconds="str">-->
<!--</app-countdown-time-onchanges>-->

<!--<app-countdown-time-alias remaining-time='60'>-->
<!--</app-countdown-time-alias>-->

<!--<app-countdown-time-event seconds="10">-->
<!--</app-countdown-time-event>-->
<!--<p>{{ countdownMsg }}</p>-->

<app-countdown-time-event-alias></app-countdown-time-event-alias>
<p>{{ countdownAliasMsg }}</p>

<app-ratingbar [max]="10" (rateChange)="onRateChange($event)"></app-ratingbar>
