<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head('Danh Sách Hợp Đồng')">
</head>
<body>
<div th:replace="/layout :: navbar">
</div>
<form th:action="@{/contract/search}">
    Tìm kiếm :
    <input type="text" name="search">
    <input type="submit" value="Tìm">
</form>
<h4 th:text="${message}" style="color: red"></h4>
<table class="table table-hover" style="margin-top: 10%">
    <thead>
    <tr>
        <th scope="col">STT</th>
        <th scope="col">Số Hợp Đồng</th>
        <th scope="col">Ngày Bắt Đầu</th>
        <th scope="col">Ngày Kết Thúc</th>
        <th scope="col">Tiền Cọc</th>
        <th scope="col">Tổng Tiền</th>
        <th scope="col">Khách Hàng</th>
        <th scope="col">Nhân Viên</th>
        <th scope="col">Dịch Vụ</th>
        <th scope="col">Dịch Vụ Đi Kèm</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="contract,iState : ${listContract}">
        <td th:text="${iState.count}"></td>
        <td th:text="${contract.idContract}"></td>
        <td th:text="${contract.startDateContract}"></td>
        <td th:text="${contract.endDateContract}"></td>
        <td th:text="${contract.deposit}"></td>
        <td th:text="${contract.total}"></td>
        <td th:text="${contract.customer.customerName}"></td>
        <td th:text="${contract.employee.employeeName}"></td>
        <td th:text="${contract.service.serviceName}"></td>
        <td>
            <div th:if="${contract.contractDetails}">
                <div th:each="contractDetail : ${contract.contractDetails}">
                    <p th:text="${contractDetail.attachService.nameAttachService}"></p>
                </div>
            </div>
            <div th:if="${contract.contractDetails.isEmpty()}">
                <p>Chưa có</p>
            </div>
        </td>
    </tr>
    </tbody>
</table>

<div>
    <a th:href="@{'/contract/list'(page=${listContract.number - 1})}" th:if="${listContract.hasPrevious()}">Previous</a>
    <span th:text="${listContract.number + 1}"></span>/<span th:text="${listContract.totalPages}"></span>
    <a th:href="@{'/contract/list'(page=${listContract.number + 1})}" th:if="${listContract.hasNext()}">Next</a>
</div>
<form action="/customer/dedlete" id="formDelete">
    <input type="hidden" name="id" id="idBlogHidden"/>
</form>

<script>
    function setIdToForm(id) {
        document.getElementById("idBlogHidden").value = id;
    }

    function submitFormDelete() {
        document.getElementById("formDelete").submit();
    }
</script>
<footer th:replace="/layout :: footer">
</footer>
</body>
</html>