<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head('Danh Sách Dịch Vụ')">
</head>
<body>
<div th:replace="/layout :: navbar">
</div>
<input name="name" type="text" id="search" placeholder="Search by name"/>
<table class="table table-hover" style="margin-top: 10%">
    <thead>
    <tr>
        <th scope="col">STT</th>
        <th scope="col">Tên Nhân Viên</th>
        <th scope="col">Ngày Sinh</th>
        <th scope="col">Giới Tính</th>
        <th scope="col">Trình Độ</th>
        <th scope="col">Chức Vụ</th>
        <th scope="col">Bộ Phận</th>
        <th scope="col">Chỉnh Sửa</th>
        <th scope="col">Xoá</th>
    </tr>
    </thead>
    <tbody id="listEmployee">
    <tr th:each="employee,iState : ${listEmployee}">
        <td th:text="${iState.count}"></td>
        <td th:text="${employee.employeeName}"></td>
        <td th:text="${employee.employeeBirthDay}"></td>
        <td th:text="${employee.employeeGender}"></td>
        <td th:text="${employee.education.educationName}"></td>
        <td th:text="${employee.position.positionName}"></td>
        <td th:text="${employee.division.divisionName}"></td>
        <td><a class="btn btn-primary"
               th:href="@{/employee/edit/{id}(id=${employee.employeeId})}"
               role="button">Chỉnh Sửa</a></td>
        </td>
        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                    th:data-thing="${employee.employeeId}" onclick="setIdToForm(this.getAttribute('data-thing'));">
            Xoá
        </button>
        </td>
    </tr>
    </tbody>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn có muốn xoá dịch vụ này?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">
                    <a onclick="submitFormDelete()"
                       style="color: white;text-decoration: none">
                        Đồng Ý</a></button>

                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">
                    <a style="color: white;text-decoration: none">
                        Huỷ</a></button>
            </div>
        </div>
    </div>
</div>
<form action="/employee/delete" id="formDelete">
    <input type="hidden" name="idDelete" id="idBlogHidden"/>
</form>
<script>
    function setIdToForm(id) {
        document.getElementById("idBlogHidden").value = id;
    }

    function submitFormDelete() {
        document.getElementById("formDelete").submit();
    }
</script>



<script>
    $(document).ready(function () {
        $("#search").on("keyup",function () {
            let name = document.getElementById("search").value;

            $.ajax({
                type: "GET",
                url: "/employee/search?name=" + name,
                dataType:"Json",
                contentType: "application/json; charset=utf8",
                success: function (employeeList) {
                    let result = "";
                    for (let i = 0; i < employeeList.length; i++) {
                        let id = employeeList[i].employeeId;
                        console.log(employeeList[i].employeeName);
                        result += "<tr>";
                        result += "<td>" + (i+1) + "</td>";
                        result += "<td>" + employeeList[i].employeeName + "</td>";
                        result += "<td>" + employeeList[i].employeeBirthDay + "</td>";
                        result += "<td>" + employeeList[i].employeeGender + "</td>";
                        result += "<td>" + employeeList[i].education.educationName + "</td>";
                        result += "<td>" + employeeList[i].position.positionName + "</td>";
                        result += "<td>" + employeeList[i].division.divisionName + "</td>";
                        result += "<td><a class=\"btn btn-primary\" role=\"button\" href='/employee/edit/"
                            + id + "'>Chỉnh Sửa</a></td>";
                        result += "<td><button class=\"btn btn-primary\" data-toggle=\"modal\" data-target=\"#exampleModal\"" +
                            "  data-thing='" + id +
                            "' onclick=\"setIdToForm(this.getAttribute('data-thing'));\"'>Xoá</button></td>";
                        result += "</tr>";
                    }
                    $("#listEmployee").html(result);
                }
            });
        });
    });
</script>
<footer th:replace="/layout :: footer">
</footer>
</body>
</html>