<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head('Danh Sách Khách Hàng')">
</head>
<body>
<div th:replace="/layout :: navbar">
</div>
<input name="name" type="text" id="search" placeholder="Search by name"/>
<table class="table table-hover" style="margin-top: 10%">
    <thead>
    <tr>
        <th scope="col">STT</th>
        <th scope="col">Tên khách hàng</th>
        <th scope="col">Số điện thoại</th>
        <th scope="col">Địa chỉ</th>
        <th scope="col">Chỉnh Sửa</th>
        <th scope="col">Xoá</th>
    </tr>
    </thead>
    <tbody id="listCustomer">
    <tr th:each="customer,iState : ${customerList}">
        <td th:text="${iState.count}"></td>
        <td th:text="${customer.customerName}"></td>
        <td th:text="${customer.customerPhone}"></td>
        <td th:text="${customer.customerAddress}"></td>
        <td><a class="btn btn-primary"
               th:href="@{/customer/edit/{id}(id=${customer.customerId})}"
               role="button">Chỉnh Sửa</a></td>
        </td>
        <td>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                    th:data-thing="${customer.customerId}" onclick="setIdToForm(this.getAttribute('data-thing'));">
                Xoá
            </button>
        </td>
    </tr>
    </tbody>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn có muốn xoá khách hàng này?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">
                    <a onclick="submitFormDelete()"
                       style="color: white;text-decoration: none">
                        Đồng Ý</a></button>

                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">
                    <a style="color: white;text-decoration: none">
                        Huỷ</a></button>
            </div>
        </div>
    </div>
</div>
<form action="/customer/delete" id="formDelete">
    <input type="hidden" name="id" id="idBlogHidden"/>
</form>

<script>
    function setIdToForm(id) {
        document.getElementById("idBlogHidden").value = id;
    }

    function submitFormDelete() {
        document.getElementById("formDelete").submit();
    }
</script>

<script>
    $(document).ready(function () {
        $("#search").on("keyup",function () {
            let name = document.getElementById("search").value;

            $.ajax({
                type: "GET",
                url: "/customer/search?name=" + name,
                dataType:"Json",
                contentType: "application/json; charset=utf8",
                success: function (customerList) {
                    let result = "";
                    for (let i = 0; i < customerList.length; i++) {
                        let id = customerList[i].customerId;
                        console.log(customerList[i].customerName);
                        result += "<tr>";
                        result += "<td>" + (i+1) + "</td>";
                        result += "<td>" + customerList[i].customerName + "</td>";
                        result += "<td>" + customerList[i].customerPhone + "</td>";
                        result += "<td>" + customerList[i].customerAddress + "</td>";
                        result += "<td><a class=\"btn btn-primary\" role=\"button\" href='/customer/edit/"
                            + id + "'>Chỉnh Sửa</a></td>";
                        result += "<td><button class=\"btn btn-primary\" data-toggle=\"modal\" data-target=\"#exampleModal\"" +
                            "  data-thing='" + id +
                            "' onclick=\"setIdToForm(this.getAttribute('data-thing'));\"'>Xoá</button></td>";
                        result += "</tr>";
                    }
                    $("#listCustomer").html(result);
                }
            });
        });
    });
</script>
<footer th:replace="/layout :: footer">
</footer>
</body>
</html>